/* Colour Palette */
$dark-cornflower-blue: rgba(27, 64, 121, 1);
$teal-blue: rgba(77, 124, 138, 1);
$morning-blue: rgba(127, 156, 150, 1);
$dark-sea-green: rgba(143, 173, 136, 1);
$yellow-green-crayola: rgba(203, 223, 144, 1);;